<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DemoApp</display-name>
  
  <!-- <servlet>
  <servlet-name>ABC</servlet-name>
  <servlet-class>pratice.ADD</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ABC</servlet-name>
  <url-pattern>/add</url-pattern></servlet-mapping>
   
<servlet>
<servlet-name>bmw</servlet-name>
<servlet-class>pratice.sqservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bmw</servlet-name>
<url-pattern>/sq</url-pattern>
</servlet-mapping> -->

<servlet>
<servlet-name>qwe</servlet-name>
<servlet-class>pratice.myservlet</servlet-class>

<init-param>
<param-name>name</param-name>
<param-value>vipul</param-value></init-param>

</servlet>
<servlet-mapping>
<servlet-name>qwe</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>

<context-param>
<param-name> name</param-name>
<param-value>vamshi</param-value>
</context-param>

<context-param>
<param-name> phone</param-name>
<param-value>iphone</param-value>
</context-param>


</web-app> 
