<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ProductInventoryApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
<servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.inventory.AddProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DisplayProduct</servlet-name>
    <servlet-class>com.inventory.DisplayProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DisplayProduct</servlet-name>
    <url-pattern>/displayProducts</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>com.inventory.EditProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/editProduct</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>com.inventory.UpdateProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.inventory.DeleteProductServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
</servlet-mapping>


</web-app>